openai
playwright
bs4
requests
pydantic
python-dotenv
langchain

# Add for dashboard + database
streamlit
psycopg2-binary
pandas
matplotlib
python-docx
docx2pdf; platform_system == "Windows"
PyMuPDF
phonenumbers
